/* reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* estilos generales */

.container{
    background-color: #bcd;
    font-family: 'Roboto' , sans-serif;
}

/* estilos del header */
header{
    background-color: #3f698d;
}
.petshop{

}

/* estilos del menu */
nav ul{
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 1rem;
    padding: 1rem;
    background-color: #3f698d;
    border-radius: 0.2rem;
    font-weight: bold;
}
nav ul li{
}
nav ul li a{
    color: #eee;
    text-decoration: none;
}

/* estilos de main Inicio*/
.sectionIni{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "mainH2 mainP"
                        "mainH2 mainButton"
                        "mainImg mainImg";
    justify-content: center;
    justify-items: center;    
    align-items: center;

}
.mainH2{
    grid-area: mainH2;
    font-size: 2.3rem;
    text-align: center;
}
.mainP{
    grid-area: mainP;
    font-size: 1rem;
    font-weight: bolder;
}
.mainButton{
    grid-area: mainButton;
}
.mainButton:hover{
    transform: scale(1.05);
}
.mainImg{
    grid-area: mainImg;
    height: 100%;
    width: 100%;
}

/* estilos main destacados */
.sectionDestacados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"destacadosH2"
                        "destacados1"
                        "destacados2"
                        "destacados3";
    margin: 1%;
    padding: 1%;
    border-radius: 1%;
    justify-content: center;
    justify-items: center;    
    align-items: center;
    text-align: center;
}

.destacadosH2{
    grid-area: destacadosH2;
    margin: 5%;
}

/* animaciones main */
.destacados1:hover{
    transform: scale(1.05);
}
.destacados2:hover{
    transform: scale(1.05);
}
.destacados3:hover{
    transform: scale(1.05);
}

/* estilos footer */
footer{
    background-color: #355C7D;
    text-align: center;
}
.suscripcion{
    padding: 0.5rem;
}
.suscripcionP{
    color: #eee;
    font-weight: bold;
    font-size: 1.5rem;
}
.label{
    padding: 0.2rem;
}
.derechos{
    background-color: #5E5E5E;
    color: #eee;
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: bold;
}
.botonSuscrib{
    background-color: #5E5E5E;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.botonSuscrib:hover{
    transform: scale(1.05);
}

/* media queries */
@media screen and (min-width:600px){
    .sectionMain{
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "mainH2 mainP"
                            "mainH2 mainButton"
                            "mainImg mainImg";
    }
    .suscripcion{
            padding: 0.5rem;
    }
    .label{
            padding: 0.2rem;
    }

    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
    .destacados1 .destacados2 .destacados3{
        margin: 1rem;
        padding: 1rem;
    }   
}

@media screen and (min-width:1024px){
    .sectionMain{
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "mainH2 mainP"
                            "mainH2 mainButton"
                            "mainImg mainImg";
    }
    .suscripcion{
            padding: 0.5rem;
    }
    .label{
            padding: 0.2rem;
    }
    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
}