/* estilos generales */

.container{
    background-color: #eee;
    font-family: 'Roboto' , sans-serif;
}

/* estilos del header */
header{
    background-color: #3f698d;
}
.logo{
    width: 7rem;
    height: auto;
}

/* estilos del menu */
.menu{
    justify-items: end;
    background-color: #3f698d;
}
nav ul{
    font-size: 1rem;
    list-style: none;
}
nav ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;

}
nav ul li a{
    color: #eee;
    text-decoration: none;
}

/* estilos de main Inicio*/
main{
    position: relative;
}
.mainImg{
    height: 100%;
    width: 100%;
}


.mainH1{
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 2rem;
    background: #eee;
    bottom: 20px;
    right: 20px;
    padding-left: 10px;
    padding-right: 20px;
/*     border-radius: 1rem;
    display: flex;
    justify-content: right;
    align-content: right;
    vertical-align: middle; */
}
.mainButton{
    background-color: #355C7D;
    position: relative;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: #eee;
    padding: 0.5rem;
}
.mainButton:hover{
    transform: scale(1.05);
}


/* estilos main destacados */
.sectionDestacados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"destacadosH2"
                        "destacados1"
                        "destacados2"
                        "destacados3";
    margin: 1%;
    padding: 1%;
    border-radius: 1%;
    justify-content: center;
    justify-items: center;    
    align-items: center;
    text-align: center;
}

.destacadosH2{
    grid-area: destacadosH2;
    margin: 5%;
}

/* animaciones main */
.destacados1:hover{
    transform: scale(1.05);
}
.destacados2:hover{
    transform: scale(1.05);
}
.destacados3:hover{
    transform: scale(1.05);
}

/* estilos footer */
footer{
    background-color: #355C7D;
    text-align: center;
}
.suscripcion{
    padding: 0.5rem;
}
.suscripcionP{
    color: #eee;
    font-weight: bold;
    font-size: 1.5rem;
}
.label{
    padding: 0.2rem;
}
.derechos{
    background-color: #5E5E5E;
    color: #eee;
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: bold;
}
.botonSuscrib{
    background-color: #5E5E5E;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.botonSuscrib:hover{
    transform: scale(1.05);
}

/* media queries */
@media screen and (min-width:600px){
    .sectionMain{
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "mainH2 mainP"
                            "mainH2 mainButton"
                            "mainImg mainImg";
    }
    .suscripcion{
            padding: 0.5rem;
    }
    .label{
            padding: 0.2rem;
    }

    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
    .destacados1 .destacados2 .destacados3{
        margin: 1rem;
        padding: 1rem;
    }   
}

@media screen and (min-width:1024px){
    .sectionMain{
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "mainH2 mainP"
                            "mainH2 mainButton"
                            "mainImg mainImg";
    }
    .suscripcion{
            padding: 0.5rem;
    }
    .label{
            padding: 0.2rem;
    }
    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
}