/* reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: #bcd;
    font-family: 'Roboto' , sans-serif;
}

/* estilos del header */
header{
    background-color: #3f698d;
}

header h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px #eee;
}

/* estilos del menu */

nav ul{
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 1px;
}
nav ul li{
    margin: 0.3rem;
    padding: 0.2rem;
    background-color: #3c5c7c;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 0.05rem 0.05rem black;
}

nav ul li a{
    color: #eee;
    text-decoration: none;
}

/* estilos de main Inicio*/
.sectionIni{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "mainH2 mainP"
                        "mainH2 mainButton"
                        "mainImg mainImg";
    justify-content: center;
    justify-items: center;    
    align-items: center;

}
.mainH2{
    grid-area: mainH2;
    font-size: 2.3rem;
    text-align: center;
}
.mainP{
    grid-area: mainP;
    font-size: 1rem;
    font-weight: bolder;
}
.mainButton{
    grid-area: mainButton;
}
.mainImg{
    grid-area: mainImg;
    height: 100%;
    width: 100%;
}

/* estilos main destacados */
.sectionDestacados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"destacados1"
                        "destacados2"
                        "destacados3";
    margin: 1%;
    padding: 1%;
    border-radius: 1%;
    justify-content: center;
    justify-items: center;    
    align-items: center;
}

/* animaciones main */
.destacadosDiv1:hover{
    transform: scale(1.2);
}

/* estilos footer */

footer{
    background-color: #355C7D;
    text-align: center;
}

.suscripcion{
    padding: 0.5rem;
}

.label{
    padding: 0.2rem;
}

footer p{
    background-color: #5E5E5E;
    padding: 0.2rem;
    font-weight: bold;
}

/* media queries */

@media screen and (min-width:600px){
    .sectionMain{
        display: grid;
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "mainH2 mainP"
                            "mainH2 mainButton"
                            "mainImg mainImg";
    }
    .suscripcion{
            padding: 0.5rem;
    }
    .label{
            padding: 0.2rem;
    }
    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }

}