/* comentario en sass y css*/
header {
  background-color: #3f698d; }
  header .logo {
    width: 6rem;
    height: 6rem; }
  header .menu {
    font-weight: bold;
    display: flex;
    justify-content: right;
    font-size: 1rem; }
    header .menu li {
      margin: 0.5rem;
      padding: 0.5rem;
      font-weight: bold;
      list-style: none; }
      header .menu li a {
        color: #eee;
        text-decoration: none; }

/*estilos de main*/
.sectionBox {
  background-color: #eee;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80%;
  display: flex;
  justify-content: center; }
