/* estilos generales */

.container{
    background-color: #eee;
    font-family: 'Roboto' , sans-serif;
}

/* estilos del header */
header{
    background-color: #3f698d;
}
.logo{
    width: 6rem;
    height: 6rem;
}

/* estilos del menu */
.menu{
    display: flex;
    justify-content: right;
}
nav ul{
    font-size: 1rem;
    list-style: none;
}
nav ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;

}
nav ul li a{
    color: #eee;
    text-decoration: none;
}
/* estilos de main */
.sectionBox{
    background-color: #eee;
    margin: 0.2rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 80%;
}
.carouselDiv{
    display: flex;
    justify-content: center;
}

/* estilos main destacados */
.sectionDestacados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"destacadosH2"
                        "destacados1"
                        "destacados2"
                        "destacados3";
    margin: 1%;
    padding: 1%;
    border-radius: 1%;
    justify-content: center;
    justify-items: center;    
    align-items: center;
    text-align: center;
}

.destacadosH2{
    grid-area: destacadosH2;
    margin: 5%;
}

/* animaciones main */
.destacados1:hover{
    transform: scale(1.05);
}
.destacados2:hover{
    transform: scale(1.05);
}
.destacados3:hover{
    transform: scale(1.05);
}

/* estilos footer */
footer{
    background-color: #355C7D;
    text-align: center;
}
.suscripcion{
    padding: 0.5rem;
}
.suscripcionP{
    color: #eee;
    font-weight: bold;
    font-size: 1.5rem;
}
.label{
    padding: 0.2rem;
}
.derechos{
    background-color: #5E5E5E;
    color: #eee;
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: bold;
}
.espacio{
    font-size: 0.8rem;
    padding: 0.2rem;
}
.botonSuscrib{
    background-color: #5E5E5E;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
.botonSuscrib:hover{
    transform: scale(1.05);
}

/* media queries */
@media screen and (min-width:600px){
    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
    .destacados1 .destacados2 .destacados3{
        margin: 1rem;
        padding: 1rem;
    }   
}

@media screen and (min-width:1024px){
    .sectionDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"destacadosH2 destacadosH2 destacadosH2" 
                            "destacados1 destacados2 destacados3";
        justify-content: center;
        justify-items: center;    
        align-items: center;
    }
}